html, body {
	background: -webkit-linear-gradient(-45deg, #A55E59, #903F3B, #762E29);
	background: -o-linear-gradient(-45deg, #A55E59, #903F3B, #762E29);
	background: -moz-linear-gradient(-45deg, #A55E59, #903F3B, #762E29);
	background: linear-gradient(-45deg, #A55E59, #903F3B, #762E29);
	font-family: Helvetica, Chivo, Serif;
	color: #1F1F1F;
	text-align: center;
	height: auto;
	min-height: 100%;
	overflow-x: hidden;
}

@font-face {
	font-family: Chivo;
	src: url("chivo-regular.ttf");
}

.banner {
	background: url(images/banner.jpg) no-repeat;
	margin: auto;
	width: 481px;
	height: 250px;
	border-radius: 50px;
	display: inline-block;
}

.content {
	width: 75%;
	overflow: auto;
	position: relative;
	margin: 20px auto auto auto;
	padding: 0 15px 15px 15px;
	border-radius: 10px;
	background: #7F7F7F;
	background: rgba(50, 50, 50, 0.5);
}

.icons {
	position: absolute;
	top: 5px;
	right: 5px;
}

.icons a{
	display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.email { background: url(images/social-icons-sprites/img/social-icons/email.png) left top no-repeat; }
.icons a.deviantart { background: url(images/social-icons-sprites/img/social-icons/deviantart.png) left top no-repeat; }
.icons a.googleplus { background: url(images/social-icons-sprites/img/social-icons/googleplus.png) left top no-repeat; }
.icons a.tumblr { background: url(images/social-icons-sprites/img/social-icons/tumblr.png) left top no-repeat; }

.icons a:hover {
	background-position: left -34px;
}

.i {
	background: #F3E5AA;
	border-radius: 50%;
	display: inline-block;
}

.article {
	height: auto;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	background: #F3E5AA;
	border-radius: 15px;
	overflow: auto;
}

.lcol, .st {
	float: left;
	width: 50%;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 15px;
}

.rcol, .lt {
	float: right;
	width: 45%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 15px;
}

.footer {
	color: #F3E9C3;
	font-size: 0.75em;
	margin: auto;
	padding: 10px;
	clear: both;

}

.gallery {
	margin: auto;
	overflow: auto;
}

.gallery img, .lt img {
	display: inline-block;
	margin: 5px auto 5px auto;
	border-radius: 7px;
}

@media (max-width: 1000px) {
	html, body {
		margin: 0 !important;
	}
	.content {
		width: 90%;
	}
	.article {
		width: 90%;
	}
	.icons {
		position: relative;
		margin: auto;
		margin-bottom: 15px;
	}
	.st {
		width: 90%;
		float: none;
	}
	.lt {
		width: 95%;
		float: none;
	}
}

@media (max-width: 500px) {
	.banner {
		background-size: 100%, auto;       /* work in progress! continue here! */
	}
	.content{
		width: 95%;
	}
	.article {
		width: 95%;
	}

}

nav {
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #E67F78;
}

a:hover, a:active {
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #E6A6A1;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2em;
	color: #F3E9C3;
}

h3 {
	text-align: left;
}